.p1{
    width: 1214px;
  height: 392px;
  top: 4108px;
  left: -29px;
  gap: 0px;
  position: absolute;
  }
  .p1a{
    width: 1375px;
  height: 392px;
  gap: 0px;
  background: #F8F8F8;
  
  }
  .img15{
    width: 179px;
    height: 47px;
    top: 99px;
    left: 590px;
    padding: 0px 2px 0px 0px;
    gap: 0px;
    opacity: 0px;
    position: relative;
    
  }
  .img16, .img17{
    width:24px;
  }
  .img18{
    width:20px;
    top: 20px;
    position: absolute;
  }
  .q1{
    width: 807px;
  height: 52px;
  top: 161px;
  left: 346px;
  gap: 12px;
  position: relative;
  
  }
  .q1a{
    width:93px;
  height:52px;
  padding: 10px 14px 10px 14px;
  gap: 10px;
  
  
  
  }
  .q1a1{
  font-size: 19px;
  font-weight: 400;
  line-height: 31.5px;
  letter-spacing: 0.03em;
  text-align: left;
  width: 65px;
  height: 32px;
  gap: 0px;
  color: #000000;
  
  }
  .r1{
    width:132px;
  height:52px;
  padding: 10px 14px 10px 14px;
  left: 100px;
  gap: 10px;
  bottom: 0.5px;
  position: absolute;
  
  
  }
  .r1a{
  font-size: 19px;
  font-weight: 400;
  line-height: 31.5px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #000000;
  width: 104px;
  height: 32px;
  gap: 0px;
  
  }
  .t1{
    width:120px;
  height:52px;
  padding: 10px 14px 10px 14px;
  left: 243px;
  gap: 10px;
  bottom: 0.5px;
  position: absolute;
  
  }
  .t1a{
  font-size: 19px;
  font-weight: 400;
  line-height: 31.5px;
  letter-spacing: 0.03em;
  text-align: left;
  width: 92px;
  height: 32px;
  gap: 0px;
  opacity: 0px;
  color: #000000;
  
  
  }
  .u1{
    width:116px;
  height:52px;
  padding: 10px 14px 10px 14px;
  left: 366px;
  gap: 10px;
  bottom: 0.5px;
  position: absolute;
  
  }
  .u1a{
  font-size: 19px;
  font-weight: 400;
  line-height: 31.5px;
  letter-spacing: 0.03em;
  text-align: left;
  width: 88px;
  height: 32px;
  gap: 0px;
  color: #000000;
  
  }
  .v1{
    width:168px;
  height: 52px;
  padding: 10px 14px 10px 14px;
  left: 489px;
  gap: 10px;
  bottom: 0.5px;
  position: absolute;
  
  }
  .v1a{
  font-size: 19px;
  font-weight: 400;
  line-height: 31.5px;
  letter-spacing: 0.03em;
  text-align: left;
  width: 140px;
  height: 32px;
  gap: 0px;
  color: #000000;
  
  }
  .x1{
    width:118px;
  height:52px;
  padding: 10px 14px 10px 14px;
  left: 650px;
  gap: 10px;
  bottom: 0.5px;
  position: absolute;
  
  }
  .x1a{
  font-size: 19px;
  font-weight: 400;
  line-height: 31.5px;
  letter-spacing: 0.03em;
  text-align: left;
  width: 90px;
  height: 32px;
  gap: 0px;
  opacity: 0px;
  color: #000000;
  
  }
  .a1{
      width: 205px;
  height: 32.48px;
  top: 203.52px;
  left: 587px;
  padding: 0px;
  gap: 0px;
  position:relative;
  
    }
    .a1a{
      width: 32.48px;
  height: 32.48px;
  top: 373.52px;
  left: 857px;
  padding: 0px 0px 0.2px 0px;
  gap: 0px;
  
    }
    .a1a1{
      width: 32.48px;
  height: 32.48px;
  top:-33px;
  left:60.51px;
  padding: 3.04px 0px 3.04px 0px;
  gap: 0px;
  position: relative;
    }
    .a1a2{
      width: 30.46px;
  height: 30.47px;
  gap: 0px;
      top:-66px;
      left:118.51px;
      padding: 3.04px 0px 3.04px 0px;
      gap: 0px;
      position: relative;
  
    }
    .a1a3{
      width: 32.48px;
      height: 32.48px;
      top:-113px;
      left:179.51px;
      padding: 3.04px 0px 3.04px 0px;
      gap: 0px;
      position: relative;
    }
    .b1{
      width: 1374px;
  height: 60px;
  top: 370px;
  left: 0px;
  gap: 0px;
  background-color: #545454;
  position: absolute;
  
    }
    .b1a{
  font-size: 19px;
  font-weight: 400;
  line-height: 31.5px;
  letter-spacing: 0.03em;
  text-align: left;
  width: 520px;
  height: 32px;
  top: 10px;
left: 500px;
  gap: 0px;
  color:#FFFFFF;
  position: absolute;
  
    }
    .b1a1{
  font-size: 19px;
  font-weight: 600;
  line-height: 31.5px;
  letter-spacing: 0.03em;
  text-align: left;
  color:#FD6F00;
  
    }
@media (max-width: 1028px) {
  .p1{
    width: 1014px;
  height: 392px;
  top: 4408px;
  left: -29px;
  gap: 0px;
  position: absolute;
  }
  .p1a{
    width: 1314px;
  height: 392px;
  gap: 0px;
  background: #F8F8F8;
  
  }
  .b1{
  width: 1314px;
  }

}