.caro1{
    width: 887px;
    height: 284px;
    top: 246px;
    left: 240px;
    gap: 0px;
    border-radius: 14px 14px 14px 14px;
    position: absolute;
    background-color:#F8F8F8;
    }
    .pic{
    width:180px;
    height: 235px;
    top: -90px;
    left: 30px;
    gap: 0px;
    position: absolute;
    background-color: #F8F8F8;
    }
    .pict{
    width: 608px;
    height: 146px;
    top: 10px;
    left: 210px;
    gap: 0px;
    font-size: 18px;
    font-weight: 400;
    line-height: 31.5px;
    letter-spacing: 0.02em;
    text-align: justified;
    position: absolute;
    color: #000000;
    }
    .pict1{
    width: 18px;
    height: 48px;
    top: -10px;
    left: 210px;
    gap: 0px;
    position: absolute;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.02em;
    text-align: justified;
    color:#FD6F00;
    }
    .pict2{
        width: 18px;
    height: 48px;
    top: 77px;
    left: 770px;
    gap: 0px;
    position: absolute;
    font-family: Poppins;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.02em;
    text-align: justified;
    color:#FD6F00;
    }
    .pict3{
    width: 75px;
    height: 36px;
    top: 117px;
    left: 210px;
    gap: 0px;
    position: absolute;
    font-size: 20px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0.02em;
    text-align: justified;
    color: #000000;
    }
    .pict4{
    width: 41px;
    height: 29px;
    top: 147px;
    left: 210px;
    gap: 0px;
    position: absolute;
    font-size: 16px;
    font-weight: 400;
    line-height: 28.5px;
    letter-spacing: 0.02em;
    text-align: justified;
    color: #000000;
    }
    @media (max-width: 1028px) {
        .caro1{
            left:130px;
            position: absolute;
        }
    }