.te1{
width: 1349px;
height: 733px;
top: 3140px;
gap: 0px;
position: absolute;
}
.te2{
width: 732px;
height: 214px;
left: 300px;
gap: 0px;
position: absolute;
color: #000000;
}
.tes{
width: 446px;
height: 98px;
left: 199px;
gap: 0px;
position: absolute;
font-size: 45px;
font-weight: 600;
line-height: 97.5px;
letter-spacing: 0.03em;
text-align: center;

}
.tes1{
width: 662px;
height: 101px;
top: 103px;
left: 70px;
gap: 0px;
position: absolute;
font-size: 18px;
font-weight: 400;
line-height: 31.5px;
letter-spacing: 0.03em;
text-align: center;

}
.j1{
    width: 932px;
height: 337px;
top: 3770px;
left: 200px;
gap: 0px;
position: absolute;

  }
  .j1a{
    width:790px;
height: 214px;
gap: 0px;
left:100px;
position: absolute;

  }
  .j1a1{
font-size: 55px;
font-weight: 600;
line-height: 97.5px;
letter-spacing: 0.03em;
text-align: center;
width: 724px;
height: 98px;
left: 129.5px;
gap: 0px;
position: relative;

  }
  .j1a2{
font-size: 18px;
font-weight: 400;
line-height: 31.5px;
letter-spacing: 0.03em;
text-align: center;
width: 920px;
height: 101px;
top: 11px;
gap: 0px;
left: 40px;
margin: 20px 0;
position: relative;


  }
  .j1a3{
    font-size: 18px;
font-weight: 400;
line-height: 31.5px;
letter-spacing: 0.03em;
text-align: center;
width: 920px;
height: 101px;
top: 11px;
gap: 0px;
left: 210px;
margin: 20px 0;
position: relative;
  }
  .k1{
    width: 865px;
height: 75px;
top: 262px;
left: 29px;
gap: 0px;
border-radius: 14px 14px 14px 14px;
border: 1px 0px 0px 0px;

  }
.k1a{
  width: 392px;
height: 53px;
top: 222px;
left: 140px;
gap: 0px;
border-radius: 14px 14px 14px 14px;
border: 1px 0px 0px 0px;
border: 1px solid #AFAFAF;
background: #F8F8F8;
position: relative;

}
.k1a1{
font-size: 21px;
font-weight: 400;
line-height: 31.5px;
letter-spacing: 0.03em;
text-align: center;
width: 88px;
height: 32px;
top: 10px;
left:22px;
gap: 0px;
color: #797979;
position: relative;

}
.l1{
  width: 222px;
height: 55px;
top: 224px;
left: 557px;
gap: 0px;
border-radius: 14px 14px 14px 14px;
background: #FD6F00;
position: absolute;

}
.l1a1{
font-size: 24px;
font-weight: 600;
line-height: 36px;
letter-spacing: 0.03em;
text-align: center;
width: 149px;
height: 36px;
top: 10px;
left: 39px;
color:#FFFFFF;
position: absolute;

}
@media (max-width: 1028px) {
.te1{
    width: 1114px;
    height: 733px;
    top: 3210px; 
    gap: 0px;
    left: 70px;
    position: absolute;
}
.te2{
left:90px;
position: absolute;
}
.tes{
    left:219px;
    position: absolute;
}
.tes1{
    left:130px;
    position: absolute;
}
.j1{
    width: 932px;
    height: 337px;
    top: 3972px;
    left: -180px;
    gap: 0px;
    margin-left:310px;
  }
  

}